.title {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.earth {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .earth {
    width: 4rem;
    height: 4rem;
    margin-top: 10rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .earth {
    width: 8rem;
    height: 8rem;
    margin-top: 6rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .earth {
    width: 10rem;
    height: 10rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .earth {
    width: 12rem;
    height: 12rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .earth {
    width: 18rem;
    height: 18rem;
  }
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background-image: url("Planet_Earth.jpg");
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}
