  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;

    img {
      height: 60%;
      width: 40%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    h4 {
      color: white;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    }
  }

  .table-dark {
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    border: 1px solid black;
    max-width: 500px !important;

    th {
      text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    }
  }


