  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;

    img {
      height: 65%;
      width: 47%;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h4 {
      color: white;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
      margin-bottom: 60px;
      font-size: 1.3em;
    }

    .table-dark {
        max-width: 500px;
      th {
        font-size:calc(3px + 0.5vw);
        color: #323A40;
        background-color: #F2EEE8;
      }
      td {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        font-size:calc(4px + 1vw);
      }
    }
  }

