  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      height: 69%;
      width: 50%;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 40px;
      overflow: visible;
    }

    h4 {
      color: white;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
      margin-bottom: 60px;
      font-size: 1.3em;
    }

    .table-dark {
        width: 100%;
      th {
        font-size:calc(3px + 0.5vw);
        color: #323A40;
        background-color: #F2EEE8;
      }
      td {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        font-size:calc(4px + 1vw);
      }
    }
  }

  .trigger {
    position: absolute;
    opacity: 1;
    transition: 0.1s;

  }
  .trigger-hidden {
    opacity: 0;
    visibility: hidden;
  }
