  .country {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
      height: 73%;
      width: 56%;
      max-height: 100%;
      max-width: 100%;
      margin: 1rem auto;
      overflow: visible;
    }

    h4 {
      color: white;
      text-shadow: 0px 0px 2px #8A8885;
      margin-bottom: 2rem;
      font-size: 1.3em;
    }

    .table-dark {
      th {
        font-size:calc(1.5px + 1vw);
        color: white;
        background: #343A40;
        border: 4px groove #7E7E7B;
        opacity: 0.8;
        width: 40%;
      }
      td {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        font-size:calc(4px + 1vw);
        background: linear-gradient(180deg, hsl(36, 2%, 53%) 6%, hsl(210, 10%, 23%) 80%);
        border: 10px groove #7E7E7B;
      }
    }
}
