  .country-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    img {
      margin: 1rem auto;
      overflow: visible;
      cursor: crosshair;
    }

    h4 {
      color: white;
      text-shadow: 0px 0px 2px #8A8885;
      margin-bottom: 2rem;
    }

    .table-dark {
      th {
        color: white;
        background: #343A40;
        border: 4px groove #7E7E7B;
      }
      td {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        background: linear-gradient(180deg, hsl(55, 2%, 30%) 6%, hsl(210, 10%, 23%) 80%);
        border: 10px groove #7E7E7B;
      }
    }

    // Smallest device
    @media (min-width: 100px) and (max-width: 575px) {
      img {
        width: 100px;
        height: 55px;
      }
      h4 {
        font-size: 1em;
      }
      th {
        font-size: 0;

      }
      td {
        font-size:calc(3.5px + 1vw);
      }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      img {
        width: 120px;
        height: 75px;
      }
      h4 {
        font-size: 1.2em;
      }
      th {
        font-size: 0;

      }
      td {
        font-size:calc(3.6px + 1vw);
      }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      img {
        width: 200px;
        height: 125px;
      }
      h4 {
        font-size: 1.3em;
      }
      th {
        font-size:calc(2px + 1vw);
      }
      td {
        font-size:calc(4.5px + 1vw);
      }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      img {
        width: 500px;
        height: 250px;
      }
      h4 {
        font-size: 1.5em;
      }
      th {
        font-size:calc(2px + 1vw);
      }
      td {
        font-size:calc(10px + 1vw);
      }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      img {
        width: 600px;
        height: 375px;
      }
      h4 {
        font-size: 2em;
      }
      th {
        font-size:calc(2px + 1vw);
      }
      td {
        font-size:calc(12px + 1vw);
      }
    }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
